@import '../base/index';

.textBox {
  position: relative;
  bottom: 0;
  @include flexbox(flex, column, center, center);
  gap: 20px;
  width: 100%;
  height: 100vh;
  z-index: 3;

  p {
    text-align: center;
    color: $white;
  }

  h2 {
    text-align: center;
    color: $white;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
  will-change: clip-path;

  .video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
