// src/styles/globals.scss
@use './base/index' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  white-space: pre-line;
  scroll-behavior: smooth;
}
html {

}
body {
  font-family: $Pretendard;
  font-size: $font-size-base;
  color: $text-color;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  scroll-behavior: auto !important;
  overflow-x: hidden;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button, input, textarea, select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
br{
  &.mo{
    display: none;
  }
  &.pc{
    display: inline;
  }
}
@media (max-width: 1200px) {
  br{
    &.mo{
      display: none;
    }
    &.pc{
      display: none;
    }
  }
}
@media (max-width: 860px) {
  br{
    &.mo{
      display: inline;
    }
    &.pc{
      display: none;
    }
  }
}

@keyframes fadeIn {
  to { opacity: 1; }
}
