// 반응형 믹스인
@mixin respond($breakpoint) {
  @if $breakpoint == laptop {
    @media (max-width: #{$breakpoint-laptop}) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: #{$breakpoint-tablet}) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media (max-width: #{$breakpoint-mobile}) {
      @content;
    }
  }
}

// 레이아웃 스타일 믹스인
@mixin flexbox($flex: flex,$direction: row, $justify: flex-start, $align: center, $wrap: nowrap) {
  display: $flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

// 말줄임 믹스인
@mixin ellipsis($lines: 1) {
  @if $lines == 1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
